.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error-message {
  background-color: #e74c3c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}